@using BlazorApp.Client.Extensions
@using System.Globalization
@inject IStringLocalizer<Localization> StringLocalizer
@inject ILocalStorageService LocalStorage
@inject NavigationManager NavManager
@inject MessageBusService MessageBusService

<div class="flex shrink-0 justify-between items-center w-screen h-12  border-b border-lightgray max-w-[480px]">
    <div class="flex-1 ml-4">
        @* <img class="mt-0.5 cursor-pointer" src="images/help.svg" alt="Help" title="@StringLocalizer["HeaderShowHelp"]"> *@
    </div>

    <div class="flex-1 flex justify-center">
        <p class="text-3xl font-bold">NUMBERLE</p>
    </div>

    <div class="flex-1 flex justify-end mr-4 mt-0.5">
        <img class="mr-2 cursor-pointer" src="images/chart.svg" alt="Statistics" title="@StringLocalizer["HeaderShowStatistics"]" @onclick="MessageBusService.TriggerStats">
        <p>
            <select @bind="selectedCulture" @bind:after="ApplySelectedCultureAsync">
                @foreach (var culture in SupportedCultures)
                {
                    <option value="@culture">
                        @culture.NativeName
                    </option>
                }
            </select> 
        </p>
    </div>
</div>