@inject GameManagerService GameManagerService
@inject IStringLocalizer<Localization> StringLocalizer
@inject MessageBusService MessageBusService

@implements IDisposable

<div class="@KeyClasses" @onclick="KeyClicked">
    @GetKeyText()
</div>