<CascadingValue Value="AncestorComponent">
    <div class="flex flex-col justifyt-start left-0 right-0 bottom-0 mb-3 h-[164px] w-screen max-w-[480px]">
        <div class="flex justify-between mb-[5px] mx-1">
            <Key KeyType="KeyType.Number" KeyValue="'0'" />
            <Key KeyType="KeyType.Number" KeyValue="'1'" />
            <Key KeyType="KeyType.Number" KeyValue="'2'" />
            <Key KeyType="KeyType.Number" KeyValue="'3'" />
            <Key KeyType="KeyType.Number" KeyValue="'4'" />
            <Key KeyType="KeyType.Number" KeyValue="'5'" />
            <Key KeyType="KeyType.Number" KeyValue="'6'" />
            <Key KeyType="KeyType.Number" KeyValue="'7'" />
            <Key KeyType="KeyType.Number" KeyValue="'8'" />
            <Key KeyType="KeyType.Number" KeyValue="'9'" />
        </div>

        <div class="flex justify-between mb-[5px] mx-1">
            <Key KeyType="KeyType.Send" />
            <Key KeyType="KeyType.Remove" />
        </div>
    </div>
</CascadingValue>



