@page "/"

@inject GameManagerService GameManagerService
@inject LocalizationService LocalizationService
@inject MessageBusService MessageBusService

@implements IDisposable

<PageTitle>Wordle</PageTitle>

<div class="flex flex-col justify-between items-center h-full w-full outline-0" @ref="_mainDiv" tabindex="0" @onkeydown="KeyDown">
    <HeaderBar />

    <ToastNotification />

    <GameBoard/>

    @if (_showStats)
    {
        <Modal Title="@LocalizationService["StatsTitle"]" OnCloseCallback="@CloseStats">
            <StatsDialog />
        </Modal>
    }
</div>